<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="3600">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %c{1.} - %msg%n"/>
		</Console>
	</appenders>
	<loggers>
		<root level="trace">
			<appender-ref ref="Console"/>
		</root>
	</loggers>
</configuration>